# Pegue esses valores no painel do Supabase:
# Project Settings -> API
NEXT_PUBLIC_SUPABASE_URL=https://mhkdmvlqmfczkpokpzlw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable__xp6GK0Wh6SQ8fleMLjw8Q_9NEI9qJi